@import '../../scss/_shared.scss';
@import '../../scss/_mixins.scss';
.wrapper {
    overflow: hidden;
    color: $ebony-clay;
    .services-grid-container {
        display: grid;
        height: 100%;
        grid-template-columns: minmax(50px, 100px) 1fr minmax(50px, 100px);
        grid-template-rows: 1fr;
        grid-template-areas: "lang content sidebar";
        z-index: -2;
        .lang {
            grid-area: lang;
        }
        .content {
            grid-area: content;
            .content-top-bottom {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .top {
                    grid-area: top;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: row;
                    height: 50vh;
                    max-width: 1200px;
                    z-index: -1;
                    .top-art {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        z-index: -1;
                        #close {
                            position: absolute;
                            top: 0;
                        }
                        #far {
                            position: absolute;
                            width: 75%;
                            left: 25%;
                            top: 60px;
                        }
                    }
                    .top-left {
                        width: 100%;
                        max-width: 400px;
                        .vertical-text-and-box {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            .vertical-text {
                                text-transform: uppercase;
                                margin: 0;
                                padding: 0;
                                width: 20%;
                                transform: translateX(-50%) rotateZ(-90deg) translateY(50%) translateX(50%);
                            }
                            .page-number-box {
                                border: 8px solid $ebony-clay;
                                width: 50px;
                                height: 50px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 0 0 16px 0;
                                p {
                                    height: 24px;
                                    margin: 0;
                                    padding: 0;
                                    font-weight: 700;
                                    font-size: 24px;
                                    line-height: 24px;
                                }
                            }
                        }
                        @media screen and (max-width: 900px) {
                            .vertical-text-and-box {
                                flex-direction: row-reverse;
                                justify-content: flex-end;
                                align-items: flex-start;
                                .vertical-text {
                                    margin: 0 0 0 8px;
                                    transform: none;
                                }
                            }
                        }

                        .page-header {
                            font-size: 72px;
                        }
    
                        .page-content > p {
                            margin: 0 0 0 10%;
                            max-width: 600px;
                            // @include fluid-type($min_width, $max_width, $min_font, $max_font);
                        }
                    }
                    .top-right {
                        width: 50%;
                        min-width: 400px;
                        svg {
                            max-width: 75%;
                            fill: $ebony-clay;
                        }
                        z-index: -1;
                    }
                }
                @media screen and (max-width: 900px) {
                    .top {
                        padding: 100% 0 0 0;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                        .top-left {
                            width: 100%;
                            margin: 0 0 40px 0;
                        }

                        .top-right {
                            width: 80%;
                        }
                    }
                }
                .bottom {
                    grid-area: bottom;
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    max-width: 1200px;
                    width: 100%;
                    height: 50vh;
                    .background {
                        position: absolute;
                        z-index: -3;
                        min-width: 1200px;
                        transform: scale(1, 1.5);
                        .background-1 {
                            position: absolute;
                            bottom: 0;
                            left: 8%;
                            right: 5%;
                        }
                        .background-2 {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }
                    }
                    .buildings {
                        display: flex;
                        align-items: baseline;
                        justify-content: space-between;
                        z-index: -2;
                        width: 100%;
                        max-width: 1200px;

                        svg {
                            width: 20%;
                        }

                        .building-2 {
                        }

                        .building-3 {
                        }

                        .building-4 {
                        }
                    }

                    .building-labels {
                        position: absolute;
                        display: flex;
                        align-content: center;
                        justify-content: space-between;
                        width: 100%;
                        bottom: 25%;
                        color: $ebony-clay;

                        p {
                            font-size: 24px;
                            font-weight: bold;
                            width: 20%;
                            text-align: center;
                            padding: 10px;
                            background-color: none;
                            transition: background-color 0.5s ease-in-out;
                        }

                        p:hover {
                            cursor: pointer;
                            background-color: $ebb-white;
                            transition: background-color 0.5s ease-in-out;
                        }
                    }
                }
            }
        }
        .sidebar {
            grid-area: sidebar;
        }
    }
}