@import '../../scss/_shared.scss';
@import '../../scss/_mixins.scss';
.services-container {
    position: relative;
    background-color: $ebb-white;
    .artwork {
        position: relative;
        max-width: 600px;
        width: 50%;
        padding: 60px;
        img {
            width: 100%;
            min-width: 100%;
        }
    }
    
} // Laptop Screen
@media (max-width: 1200px) {
    .services-container {
        .artwork {
            padding: 40px;
        }
    }
}
@media (max-width: 768px) {
    .services-container {
        .artwork {
            padding: 20px;
        }
    }
}
@media (max-width: 375px) {
    .services-container {
        .artwork {
            padding: 10px 0 0 0;
        }
    }
}