@import '../../scss/_shared.scss';
@import '../../scss/_mixins.scss';
.services-container {
    position: relative;
    background-color: $ebb-white;
    display: flex; 
    justify-content: center;
    align-items: center;
    .artwork {
        position: relative;
        background: none;
        max-width: 600px;
        width: 60%;
    }
    .artwork-pixels {
        display: inline;
        position: absolute;
        bottom: 0;
        opacity: 0.5;
    } 
    
} // Laptop Screen
@media (max-width: 1200px) {
    .services-container {
        .artwork {
            width: 100%;
        }
        .artwork-pixels {
            display: none;
        }
    }
}
@media (max-width: 768px) {
    .services-container {
        .artwork {
            padding: 20px;
        }
    }
}
@media (max-width: 375px) {
    .services-container {
        .artwork {
            padding: 10px 0 0 0;
        }
    }
}