@import '../../../../scss/_shared.scss';
@import '../../../../scss/_mixins.scss';
.video-container {
    box-sizing: content-box;
    background: $dawn;
    position: relative;
    .pixels {
        width: 100%;
        min-width: 800px;
        object-fit: cover;
    }
    .art-close-pixels {
        top: 20%;
    }
    .art-far-pixels {
        top: 40%;
    }
    .content {
        margin: auto;
    }
    .artwork {
        position: relative;
        max-width: 600px;
        img {
            width: 100%;
        }
        .underlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 3%;
            left: 3%;
            background: $ebb-white;
            z-index: -1;
        }
    }
}

@media (max-width: 1200px) {
    .video-container {}
}
@media (max-width: 768px) {
    .video-container {}
}

@media (max-width: 375px) {
    .video-container {}
}