@import '../../scss/shared';
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $ebony-clay;
    text-transform: uppercase;
    font-weight: 700;
}

.landing-container {
    position: relative;
    height: 100vh;
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    .header {
        margin-top: 80px;
        padding: 5%;
        height: 60vh;
        width: 90vw;
        div {
            div {
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    .artwork {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
        }
        .art {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .grey {
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
        }
        .foreground {
            width: 80%;
        }
        .colored {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0 10% 0 10%;
            img {
                width: 20%;
            }
        }
    }
    @media (max-width: 1200px) {}
    @media (max-width: 768px) {}
    @media (max-width: 375px) {
        .art {
            .far-buildings {
                position: absolute;
                bottom: 0;
            }
            .front-buildings {}
        }
    }
}