.ribbon {
    height: 20px;
    width: 100%;
    display: flex;
    background: url('../../assets/Ribbon/ribbon.svg');
    background-color: #8C99A5;
    background-repeat: round;

    position: absolute;
    top: 0;
}