@import '../../scss/_shared.scss';
@import '../../scss/_fonts.scss';
$navigation-button-size: 33px;

.going-dark {
    background: $ebb-white;
    -webkit-box-shadow: 0px -3px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -3px 27px 0px rgba(0,0,0,0.75);
}
.navigation {
    min-height: 0px !important;
    padding: 0 !important;
    z-index: 999;
    .navigation-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        width: 100%;
        height: $navigation-height;
        align-content: center;
        justify-content: space-between;
        z-index: 1;
        .nav-brand {
            padding: 10px;
            width: 60px;
        }
        .nav-menu {
            display: flex;
            align-content: center;
            justify-content: center;
            width: $navigation-height;
            height: $navigation-height;
            border: none;
            cursor: pointer;
        }
        .nav-menu-open {
            width: 100%;
        }
        .nav-menu-close {
            width: 100%;
            padding: 17px;
            background: $ebony-clay;
        }
    }
    .underlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: $ebony-clay;
        opacity: 0.0;
        z-index: -99;
        transition: opacity 0.3s ease-in-out;
    }
    .underlay-active {
        z-index: 0;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
    }
    .slider {
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 0;
        right: 0;
        bottom: 0;
        background: $ebony-clay;
        font-family: $font-sans;
        transform: translate(100%);
        transition: transform 0.5s ease-in-out;
        .btn-exit {
            width: $navigation-height;
            height: $navigation-height;
            position: absolute;
            display: flex;
            align-content: center;
            justify-content: center;
            top: 0;
            right: 0;
            background: none;
            font-size: $navigation-button-size; // padding: 20px 20px 0 0;
        }
        .slider-navigation {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .slider-navigation-link {
                font-size: calc(42px + 10 * ((100vw - 320px) / 680));
                color: $ebb-white;
                text-transform: uppercase;
                margin: 0 0 10px 0;
                text-decoration: none;
                cursor: pointer;
            }
            .slider-navigation-link:hover {
                text-decoration: line-through;
            }
        }
    }
    .slider-active {
        transform: translate(0%);
        transition: transform 0.5s ease-in-out;
    }
    @media (max-width: 768px) {
        .slider {
            width: 75%;
        }
    }
}