@import '../../scss/_shared.scss';

.footer {
    min-height: 30vh !important;
    width: 100%;
    background: $ebony-clay;
    color: $ebb-white;
    padding: 0 !important;

    hr {
        padding: 0;
        margin: 0;
        width: 100%;
        border: 1px solid #171F28;
        opacity: 0.5;
    }

    .section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin: 24px 16px;
        box-sizing: content-box;
        * {
            box-sizing: border-box;
        }
        .section-item {
            padding: 0 24px;
            width: 25%;
        }
    }

    .newsletter {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        label {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 36px;
        }
        input {
            border: 4px solid $ebb-white;
            padding-left: 20px;
        }
        * {
            height: 50px;
            margin: 8px;
        }
        .button-light {
            border: 4px solid $ebb-white;
            background: $ebb-white;
            width: 100%;
            color: $ebony-clay;
            min-height: 50px;
            min-width: 75px;
            max-width: 100px;
            transition: all 0.25s ease-in-out;
          }
          
          .button-light:hover {
            color: $ebb-white;
            cursor: pointer;
            background: transparent;
            transition: all 0.25s ease-in-out;
          }
    }

    .copyright {
        background: #171F28;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 24px;
        font-size: 18px;
    }

    .social {
        img {
            max-width: 40px;
            box-sizing: content-box;
            padding: 0 10px 0 10px;
            transition: transform 0.1s ease-in-out;            
        }

        img:hover {
            transform: scale(1.1);
            transition: transform 0.2s ease-in-out;
        }
    }

    h3 {
        color: $ebb-white;
    }

    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 8px 0;
            list-style-type: none;
            a {
                color: $ebb-white;
                text-decoration: none;
            }
        }
    }

    @media (max-width: 768px) {
        .section {
            flex-direction: column;
            .section-item {
                width: 100%;
            }
        }
        .newsletter {
            flex-direction: column;
            margin: 0;
            input {
                margin: 0;
                width: 100%;
            }
            .button-light {
                max-width: 100%;
            }
        }
    }
}